@font-face{
    font-family: FZZhengHeiS-EL-GB;
    src: url("方正正纤黑简体.TTF")
}

.logo2{
    text-align: left;
    line-height:10%;
    display: flex;
}


p.CNtitle{
    
    font-family: FZZhengHeiS-EL-GB;
    font-size:200%;
}

p.ENtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-size:100%;
}



img{
    width:5%;
    height:auto;
    
}

.background{
    width:100%;
    opacity:10%;
    position: absolute;
    
}

.bodytext{
    text-align:center;
    font-size:300%;

}

.footnote{
    text-align:center;

}