@font-face{
    font-family: FZZhengHeiS-EL-GB;
    src: url("方正正纤黑简体.TTF")
}




.logo2{
    text-align: left;
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
}

img.logo{
    width:8em;
    height:auto;
}

.title{
    flex-grow:1;
}


p.CNtitle{
    
    font-family: FZZhengHeiS-EL-GB;
    font-size:1.5em;
    line-height:1em;
}

p.ENtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-size:1em;
    line-height:1em;
    color:#0076E0;
}


.background{
    width:100%;
    opacity:10%;
    position: absolute;
    display:flex;
    justify-content:center;
    padding-top:1em;
    padding-bottom:1em;
}



.bodytext{
    text-align:center;
    font-size:2.5em;
    line-height:600px;
    font-family: FZZhengHeiS-EL-GB;
}

footer{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    text-align:center;
    background-color:#E6F0FF;
    color:#0076E0;
    padding: 2em;
}